
.wrapper{
  font-family: "Archivo", sans-serif;
  min-height: calc(100vh - 480px);
  @media (max-width: 1024px){
    min-height: unset;
  }
}
.content_wrapper{
  display: flex;
  gap: 24px;
  @media (max-width: 1024px){
    flex-direction: column;
  }
}
.content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.aside{
  display: flex;
  flex-direction: column;
  flex-basis: 384px;
  min-width: 384px;
  @media (max-width: 1024px){
    flex-basis: 100%;
    min-width: 100%;
  }
}
.title{
  color: #FCFDFB;
  /* H1 ExtraBold */
  //font-family: 'Archivo', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 83.333% */
  letter-spacing: 0.96px;
  margin-bottom: 20px;
}
.subtitle{
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
}
/* Accordion styles */
.accordionRoot{
}
.accordionItem{
  margin-top: 20px;
  background-color: #0f1515;
  border-radius: 12px;
  &:first-child{
    margin-top: 0;
  }
}
.accordionTrigger{
  padding: 15px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  color: #FCFDFB;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  transition: all .2s ease;
  cursor: pointer;
  text-align: left;
  &:hover{
    background-color: #1f2c2c;
  }
}

.accordionChevron{
  margin-left: auto;
  transition: transform 200ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordionTrigger[data-state='open'] > .accordionChevron {
  transform: rotate(90deg);
}
.accordionContent{
  overflow: hidden;
}
.accordionContentText{
  padding: 15px 20px;
  font-size: 14px;
}
.accordionContent[data-state='open'] {
  animation: slideDown 200ms ease-in-out;
}
.accordionContent[data-state='closed'] {
  animation: slideUp 200ms ease-in-out;
}
.accordionHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}