.content {
  color: #8fa3b0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding: 10px 21px 7px 21px;
  border-radius: 0 0 12px 12px;
  border: 1px solid #121f21;
}
