$primary-tint1: #030c0d;
$primary-tint2: #081517;
$primary-tint3: #121f21;
$primary-tint4: #1d3d43;
$primary-tint5: #39555a;
$primary-tint6: #1c7d8f;
$primary-tint7: #acbbc2;
$primary-tint8: #eef3f5;
$primary-tint9: #8fa3b0;
$primary-tint10: #07252a;
$primary-tint11: #17bebb;

$secondary-tint1: #f3a521;
$secondary-tint2: #ba3118;
$secondary-tint3: #07b5c2;
$secondary-tint4: #76a212;
$secondary-tint5: #ffffff;
$secondary-tint6: #1c7d8f;
$secondary-tint7: #2b6b4d;

$primary-tint1-v2: #030b0d;

$bg-cloudBet: #000;
$bg-rooBet: #000;
$bg-oneXBet: #195685;
$bg-twentyTwoBet: #003a3b;
$bg-ggBet: #151922;
$bg-lootBet: #303e47;
$bg-vaveBet: #303e47;
$bg-pinnacleBet: #000c24;
$bg-betWayBet: #000;

$background-gradient1: linear-gradient(
  180deg,
  rgba(29, 61, 67, 0.3) 0%,
  rgba(8, 21, 23, 0.3) 100%
);
$background-gradient2: linear-gradient(
  90deg,
  rgba(118, 162, 18, 0) 0%,
  rgba(118, 162, 18, 0.3) 100%
);
$background-gradient3: linear-gradient(
  270deg,
  rgba(222, 64, 64, 0.3) 0%,
  rgba(222, 64, 64, 0) 100%
);
